# Dependencies
node_modules
.pnpm-store

# Builds
dist
.next
coverage

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docs / Design
docs
design

# Misc
README.md

